<!-- Header -->
<div class="header sticky top-0 flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">
    <!-- Title -->
    <div>
        <div class="text-4xl font-extrabold tracking-tight leading-none">{{pageTitle}}</div>
    </div>
    <!-- Main actions -->
    <div class="flex items-center mt-4 sm:mt-0 md:mt-4"> 
        <!-- Search -->
        <div class="flex-auto">
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded w-full min-w-50"
                subscriptSizing="dynamic">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="textSearch" [(ngModel)]="searchTerm" (input)="searchNome()">
            </mat-form-field>
        </div>
        <!-- Add contact button -->
        <div class="ml-4">
            <button class="ml-4 custom-button" mat-flat-button color="primary" [routerLink]="buttonLink">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            </button>
        </div>
    </div>
</div>
