
.custom-button {
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 9999; /* Garante que o botão fique acima do conteúdo */
}

.button-row {
    display: block;
    margin-bottom: 10px; /* Espaçamento entre os botões */
  }
  

  .button-container button {
    display: block;
    margin-bottom: 10px; /* Espaçamento entre os botões */
  }
  