<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <!--Se tiver dentro da data e nao concluido -->
        <div *ngIf="dataCerto && !finalizado" class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
            <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
                <div *ngFor="let pergunta of perguntaCollection | paginate: { itemsPerPage: 1, currentPage: paginaAtual }">
                    <div [ngClass]="{ pergunta: showRespostas(pergunta) }">
                        <!-- Title -->
                        <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight flex">
                            <div class="flex-auto font-medium ">
                                <ng-container *ngIf="!pergunta.obrigatoria; else obrigatorio">{{ pergunta.descricao }}</ng-container>
                                <ng-template #obrigatorio>
                                    {{ pergunta.descricao }}*
                                </ng-template>
                            </div>
                            <div class="ml-auto rounded-full bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary">
                                <button class="min-w-7 text-current" mat-flat-button  >
                                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>
                                </button>
                            </div>
                        </div>
                    
                        <!-- Sign in form -->
                        <form class="mt-8" >
                            <div *ngIf="!show">
                                <!-- Text field -->
                                <div *ngIf="pergunta.tipoPergunta == 'texto'">
                                    <mat-form-field class="w-full">
                                        <input matInput type="text" id="{{pergunta.descricao}}" required 
                                        [(ngModel)]="resposta.answer![pergunta.codigoPergunta!-1]" name="answer">
                                    </mat-form-field>
                                </div>
                                <!-- Textão -->
                                <div *ngIf="pergunta.tipoPergunta == 'paragrafo'" class="flex">
                                    <mat-form-field class="flex-auto">
                                        <textarea
                                            matInput [rows]="3" placeholder="Resposta"
                                            id="{{pergunta.descricao}}" required name="answer"
                                            [(ngModel)]="resposta.answer![pergunta.codigoPergunta!-1]">
                                        </textarea>
                                    </mat-form-field>
                                </div>
                                <!-- Multipla escolha -->
                                <div class="form-group" *ngIf="pergunta.tipoPergunta === 'multiplaEscolha'">    
                                    <!-- Funcionario -->
                                    <mat-form-field class="flex-1 mr-5 mb-4 md:mb-0 md:w-1/4 use-mat-bold fuse-mat-dense fuse-mat-emphasized-affix w-full">
                                        <mat-select [(ngModel)]="resposta.answer![pergunta.codigoPergunta!-1]" multiple [ngModelOptions]="{standalone: true}">
                                            <mat-option *ngFor="let alternativa of pergunta.alternativa!" [value]="alternativa.descricaoAlternativa">{{ alternativa.descricaoAlternativa }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-checkbox *ngIf="pergunta.outro" class="mb-4" [(ngModel)]="resposta.showOutro">Outro</mat-checkbox>
                                    <div class="form-group" *ngIf="resposta.showOutro">
                                        <input placeholder="Outro" type="text" id="answer" required
                                            [(ngModel)]="resposta.answer![pergunta.codigoPergunta!-1]" name="answer"/>
                                    </div>
                                </div>     
                                <!-- Alternativas -->
                                <div *ngIf="pergunta.tipoPergunta == 'alternativa'" class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                    <mat-radio-group class="flex flex-col" [color]="'primary'" name="resposta" placeholder="Resposta"
                                    type="text" id="{{pergunta.descricao}}" required [(ngModel)]="resposta.answer![pergunta.codigoPergunta! - 1]" 
                                    (change)="onRadioChange($event)">
                                        <!-- Opções de alternativas -->
                                        <mat-radio-button  *ngFor="let alternativa of pergunta.alternativa!" [value]="alternativa.descricaoAlternativa"
                                            class="mb-2" id="{{alternativa.descricaoAlternativa}}" >
                                            {{alternativa.descricaoAlternativa}}
                                        </mat-radio-button>
                                        <!-- Opção "Outro" -->
                                        <mat-radio-button id="Outro" *ngIf="pergunta.outro" [value]="'Outro'" class="mb-2">Outro</mat-radio-button>
                                        <mat-radio-button id="Nenhum" *ngIf="pergunta.outro" [value]="'Nenhum'" class="mb-2">Nenhum</mat-radio-button>
                                        <mat-radio-button id="Não Respondeu" *ngIf="pergunta.outro" [value]="'Não Respondeu'" class="mb-2">Não Respondeu</mat-radio-button>
                                        <mat-radio-button id="Não Opinou" *ngIf="pergunta.outro" [value]="'Não Opinou'" class="mb-2">Não Opinou</mat-radio-button>
                                    </mat-radio-group>
                                    <!-- Campo de entrada para "Outro" selecionado -->
                                    
                                    <div *ngIf="mostrarCampoOutro" class="form-group">
                                        <mat-form-field class="w-full">
                                            <input placeholder="Outro" matInput type="text" id="answer" required
                                            [(ngModel)]="resposta.answer![pergunta.codigoPergunta!-1]" name="answer"/> 
                                        </mat-form-field>
                                    </div>
                                
                                </div>

                            </div>
                            
                            <div *ngIf="show"> {{currentRespostaUsuario}} </div>
                            
                            <pagination-controls (pageChange)="paginaAtual = $event; onPageChange()" 
                                previousLabel="Anterior" nextLabel="Próximo" 
                                (pageChange)="editarRespostas(resposta.answer![pergunta.codigoPergunta!-1], pergunta._id)"></pagination-controls>
                            <!-- Submit button -->
                            <button
                                class="fuse-mat-button-large w-full mt-6 custom-button"
                                mat-flat-button
                                [color]="'accent'"
                                (click)="salvando(resposta.answer![pergunta.codigoPergunta!-1], pergunta._id)">
                                Salvar
                            </button>
                            <button
                                class="fuse-mat-button-large w-full mt-6"
                                mat-flat-button
                                [color]="'accent'"
                                id="finishButton"
                                (click)="finalizando(resposta.answer![pergunta.codigoPergunta!-1], pergunta._id)">
                                Enviar
                            </button>
                            <br><br><br>
                            <mat-card class="example-card">
                                <mat-card-content>
                                  <section class="example-section">
                                    <mat-progress-bar
                                      class="example-margin"
                                      color="primary"
                                      mode="determinate"
                                      [value]="progress" [max]="totalProgress">
                                    </mat-progress-bar>
                                  </section>
                                </mat-card-content>
                            </mat-card>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Se nao tiver dentro da data e a pessoa nao finalziou-->
        <div *ngIf="!dataCerto">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                <!-- Logo -->
                <div class="w-12 mx-auto">
                    <img src="assets\images\avatars\nobuntu.jpg">
                </div>
                <!-- Title -->
                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight text-center">Opss!</div>
                <div class="flex justify-center mt-0.5 font-medium">
                    <ng-container>
                        Este questionário não está mais disponivél!
                    </ng-container>
                </div>
                <!-- Form footer -->
                <div class="mt-8 text-md font-medium text-secondary text-center">
                </div>
            </div>       
        </div>       
        <!-- Se já tiver sido concluido -->
        <div *ngIf="finalizado">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12 mx-auto">
                <img src="assets\images\avatars\nobuntu.jpg">
            </div>
            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight text-center">Parabéns!</div><br>
            <div class="flex justify-center mt-0.5 font-medium">
                <ng-container>
                    Você finalizou este questionário!
                </ng-container>
                </div>
                <!-- Form footer -->
                <div class="mt-8 text-md font-medium text-secondary text-center">
                    <span>Obrigada!</span>          
                </div>
            </div>
        </div>
    </div>
</div>