<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">
    
                <!-- Header -->
                <app-header-list page-title="Empresas" text-search="Search empresas" button-link="/empresa/create"
                [service]="empresasService" (searchResults)="onSearchResults($event)" [array-to-search]="empresaCollection"></app-header-list>
    
                <!-- Empresas list -->
                <div class="relative" style="overflow-y: auto;">
                    <ng-container *ngFor="let empresa of empresaCollection; let i = index">
                      <!-- Empresas -->
                      <a class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b">
                        <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                          <div class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 font-medium uppercase text-secondary dark:bg-gray-900">
                            {{empresa.nome.charAt(0)}}
                          </div>
                        </div>
                        <div class="flex flex-1 items-center">
                          <div class="min-w-0 ml-5 flex-1">
                            <div class="font-medium leading-5 truncate">{{empresa.nome}}</div>
                          </div>
                          <div class="flex flex-0">
                            <button class="min-w-7 ml-5 " mat-flat-button [color]="'accent'" (click)="openDialogEdit(empresa.id)">
                              Edit
                            </button>
                            <button class="min-w-7 rounded-full ml-5" mat-flat-button  [color]="'warn'" 
                                        (click)="deleteResource(empresa)"  style="float: right;">
                                            <mat-icon svgIcon="heroicons_solid:x-circle"></mat-icon>
                            </button>
                          </div>
                        </div>
                      </a>
                    </ng-container>
                </div>
                  
    
            </div>
  
        </mat-drawer-content>

    </mat-drawer-container>
    
</div>
