<div class="flex flex-auto">
    <form
        class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto">
        <!-- Header -->
        <div class="max-w-3xl">
            <div class="prose prose-sm max-w-3xl">
               <h2 class="font-bold md-12">Pergunta</h2>
            </div>
        </div>
        <br><br>
        <!-- codPergDemografica -->
        <div class="flex">
            <mat-form-field
              class="flex-auto gt-xs:pr-3" subscriptSizing="dynamic">
              <mat-label>Codigo Pergunta Estratificação Demografica</mat-label>
                <input
                type="text"
                class="form-control"
                id="codPergDemografica"
                required
                [(ngModel)]="demografica.codPergDemografica"
                name="codPergDemografica"
                matInput                
                [autocomplete]="'off'"
                [placeholder]="'Codigo Pergunta Estratificação Demografica'">
            </mat-form-field>
        </div>
        <br>
        <!-- descPergDemografica -->
        <div class="flex">
          <mat-form-field
            class="flex-auto gt-xs:pr-3" subscriptSizing="dynamic">
            <mat-label>Descricao Pergunta Estratificação Demografica</mat-label>
              <input
              type="text"
              class="form-control"
              id="descPergDemografica"
              required
              [(ngModel)]="demografica.descPergDemografica"
              name="descPergDemografica"
              matInput                
              [autocomplete]="'off'"
              [placeholder]="'Descricao Pergunta Estratificação Demografica'">
          </mat-form-field>
        </div>
       
      
        <button (click)="updateDemografica()"  class="px-6 ml-3 bg-accent" mat-flat-button>
          Update
        </button>
        <br>
        
  
    </form>
  </div>
  

