<div class="flex flex-auto">
  <form
      class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto">
      <!-- Header -->
      <div class="max-w-3xl">
          <div class="prose prose-sm max-w-3xl">
             <h2 class="font-bold md-12">Adicionando nova Pergunta</h2>
          </div>
      </div>
      <br><br>
      <!-- codigoPergunta -->
      <div class="flex">
          <mat-form-field
            class="flex-auto gt-xs:pr-3" subscriptSizing="dynamic">
            <mat-label>Codigo da Pergunta</mat-label>
              <input
              type="text"
              class="form-control"
              id="codigoPergunta"
              required
              [(ngModel)]="pergunta.codigoPergunta"
              name="codigoPergunta"
              [ngModelOptions]="{ standalone: true }" 
              matInput                
              [autocomplete]="'off'"
              [placeholder]="'Codigo Pergunta'">
          </mat-form-field>
      </div>
      <br>
      <!-- descricao -->
      <div class="flex">
        <mat-form-field
          class="flex-auto gt-xs:pr-3" subscriptSizing="dynamic">
          <mat-label>Descrição</mat-label>
            <input
            type="text"
            class="form-control"
            id="descricao"
            required
            [(ngModel)]="pergunta.descricao"
            name="descricao"
            matInput                
            [autocomplete]="'off'"
            [placeholder]="'Descricao'">
        </mat-form-field>
      </div>
      <!-- tipoPergunta -->
      <div class="flex">
        <mat-label>Tipo Pergunta</mat-label>
        <mat-radio-group
            class="flex flex-col"
            [color]="'primary'" id="tipoPergunta"
            required
            [(ngModel)]="pergunta.tipoPergunta"
            name="tipoPergunta">
            <mat-radio-button *ngFor="let tipo of tipoResp"
                class="mb-2"
                [value]="tipo.value">
                {{tipo.viewValue}}
            </mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- obrigatoria -->
      <div class="flex">
        <mat-label>Obrigatoria</mat-label>
        <mat-radio-group
            class="flex flex-col"
            [color]="'primary'" id="obrigatoria" required
            [(ngModel)]="pergunta.obrigatoria"
            name="obrigatoria">
            <mat-radio-button
                class="mb-2"
                [value]="true">
                Sim
            </mat-radio-button>
            <mat-radio-button
                class="mb-2"
                [value]="false">
                Não
            </mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- outro -->
      <div class="flex">
        <mat-label>Outro</mat-label>
        <mat-radio-group
            class="flex flex-col"
            [color]="'primary'"  id="outro" required
            [(ngModel)]="pergunta.outro"
            name="outro">
            <mat-radio-button
                class="mb-2"
                [value]="true">
                Sim
            </mat-radio-button>
            <mat-radio-button
                class="mb-2"
                [value]="false">
                Não
            </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <!-- bloco -->
      <div class="flex flex-col gt-xs:flex-row" *ngIf="!semBlocos">
        <mat-form-field
          class="flex-auto gt-xs:pr-3" >
          <mat-label>Bloco</mat-label>
          <mat-select id="bloco"
          required
          [(ngModel)]="pergunta.bloco"
          name="bloco">
            <mat-option *ngFor="let option of blocos" class="mb-2"
            [value]="option.value"> {{option.value}} </mat-option>        
          </mat-select>
        </mat-form-field>
      </div>
      <br>
    <!-- Campo de Alternativas  -->
    <div class="flex" *ngIf="pergunta.tipoPergunta === 'alternativa'">
      <mat-form-field class="flex-auto gt-xs:pr-3">
        <mat-label>Código da Alternativa</mat-label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="novoCodigoAlternativa"
          [ngModelOptions]="{ standalone: true }" 
          matInput
          [autocomplete]="'off'"
          [placeholder]="'Digite o código da alternativa'">
      </mat-form-field>
      <mat-form-field class="flex-auto gt-xs:pr-3">
        <mat-label>Texto da Alternativa</mat-label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="novoTextoAlternativa"
          [ngModelOptions]="{ standalone: true }" 
          matInput
          [autocomplete]="'off'"
          [placeholder]="'Digite o texto da alternativa'">
      </mat-form-field>
      <button (click)="adicionarAlternativa()" class="p-2" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <!-- Lista de Alternativas -->
    <div *ngIf="pergunta.tipoPergunta === 'alternativa'">
      <div *ngFor="let alternativa of pergunta.alternativa; let i = index">
        <div class="flex">
          <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>Código da Alternativa {{ i + 1 }}</mat-label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="pergunta.alternativa[i].codigoAlternativa"
              matInput
              [ngModelOptions]="{ standalone: true }" 
              [autocomplete]="'off'"
              [placeholder]="'Digite o código da alternativa'">
          </mat-form-field>
          <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>Texto da Alternativa {{ i + 1 }}</mat-label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="pergunta.alternativa[i].descricaoAlternativa"
              matInput
              [ngModelOptions]="{ standalone: true }" 
              [autocomplete]="'off'"
              [placeholder]="'Digite o texto da alternativa'">
          </mat-form-field>
          <button (click)="removerAlternativa(i)" class="p-2" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
      <button (click)="savePergunta()" class="ml-auto p-2" mat-flat-button
      [color]="'accent'" style="font-size: 12px; bottom: 0px;">Salvar</button>
  </form>
</div>




